@import "fonts.scss";

body {
  font-family:
    MuseoSans,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.bikeday-bg-green {
  background-color: #579547;
  background-image: url(/static/bikes-on-green.png);
}

.bikeday-bg-gray {
  background-color: #464d45;
  background-image: url(/static/bikes-on-gray.png);
  color: white;
}

.bikeday-bg-white {
  background-color: white;
  background-image: url(/static/bikes-on-white.png);
}
